/*gesamte Breite ist 484 */
/* Anwendungs Container */
#lmfContent label, #lmfContent input, #lmfContent button, #lmfContent select, #lmfContent textarea, #lmfContent .btn, #lmfContent .uneditable-input {
    font: inherit;
}

#lmfContent select, #lmfContent textarea, #lmfContent input[type="text"], #lmfContent input[type="password"], #lmfContent input[type="datetime"], #lmfContent input[type="datetime-local"], #lmfContent input[type="date"], #lmfContent input[type="month"], #lmfContent input[type="time"], #lmfContent input[type="week"], #lmfContent input[type="number"], #lmfContent input[type="email"], #lmfContent input[type="url"], #lmfContent input[type="search"], #lmfContent input[type="tel"], #lmfContent input[type="color"], #lmfContent .uneditable-input {
    background: white;
    border: 2px inset #EBE9ED;
    border-radius: 4px;
    color:  initial;
    height:  auto;
    padding: 2px ;
    margin:0;
}
#lmfContent .radio, #lmfContent .checkbox {
    min-height: 0;
    padding: 0;
}
.background{
    margin:0 auto;
    padding:5px;
    background:#EBF4FB none repeat scroll 0 0;
    border:2px solid #B7DDF2;
    /*width: 470px; /*bei 484**/
    width: 670px; /*bei 740**/
    min-height: 225px;
    /*    font-size: 12px; /* im 470er */
    font-size: 13px;
}

.dojoxGrid{
    font-size: 95% !important; /* nur im 470er */
}

.registration_form {
    margin:0 auto;
    width:670px;
    padding:14px 0;
}

/* Messageboxen */
.success, .warning, .errormsgbox, .validation {
    border: 1px solid;
    margin: 0 auto;
    padding:10px 5px 10px 60px;
    background-repeat: no-repeat;
    background-position: 10px center;
    font-weight:bold;
    width:590px;
    margin-bottom: 5px;

}
.success {
    color: #4F8A10;
    background-color: #DFF2BF;
    background-image:url('../images/success.png');
}
.warning {
    color: #9F6000;
    background-color: #FEEFB3;
    background-image: url('../images/warning.png');
}
.errormsgbox {
    color: #D8000C;
    background-color: #FFBABA;
    background-image: url('../images/error.png');
}
.validation {
    color: #D63301;
    background-color: #FFCCBA;
    background-image: url('../images/error.png');
}

#lmfNichtRegistriert{
    background:#EAEAEA none repeat scroll 0 0;
    line-height:1;
    float: right;
    padding:5px 3px;
}

.lmfHalbLinks{
    width: 50%;
    float: left;
}
.lmfRechtsGrau{
    float: right;
    text-align: right;
    background:#EAEAEA none repeat scroll 0 0;
    line-height:1;
}
/******************************************************************************/

/* Kopfzeile: Applikationswechsel, abmelden */
#lmf_Kopfzeile{
    float: left;   
    width: 100%; 
    margin-bottom: 5px;
}
#lmf_WechselApplikation{
    float: left;   
    width: 33%; 
    margin: 2px 0 0 0;
}
#kopf-rechts{
   float: right;   
    width: 33%; 
    text-align: right; 
}
#mail-icon-span{
   float: right;   
    text-align: right;
    display:none;
}
#mail-icon{
    width: 20px; 
    height: 20px;
}

#lmf_Abmelden{
    float: right;   
    text-align: right;
    margin: 2px 0 0 5px;
}
#lmfTitel{
       float: right;   
    width: 34%;   
    text-align: center;
    font-size: 15px;
    font-weight:  bold;
}

/* servicemenue - nur für Admins */
#lmf_serviceMenue{
    /*width: 470px;   /* könnte man sich sparen : ergibt sich aus .background */
    width: 670px;   /* könnte man sich sparen : ergibt sich aus .background */
    background-color: transparent;
}
#lmf_Menue_Home{
    /* width: 20px; 470er */
    width: 30px;
    text-align: center;
}
#lmf_Menue_Nutzer{
    /* width: 45px; 470er */
    width: 65px;
    text-align: center;
}
#lmf_Menue_Verwaltung{
    /* width: 72px; 470er */
    width: 75px;
    text-align: center;
}
#lmf_Menue_Buecher{
    /* width: 50px; 470er */
    width: 65px;
    text-align: center;
}
#lmf_Menue_Anmeldungen{
    /* width: 86px; 470er */
    width: 90px;
    text-align: center;
}
#lmf_Menue_Einzahlungen{
    /* width: 86px; 470er */
    width: 90px;
    text-align: center;
}
#lmf_Menue_Hilfe{
    /* width: 25px; 470er */
    width: 30px;
    text-align: center;
}
#lmf_Menue_Ende{
    /* width: 25px; 470er */
    width: 127px;
    text-align: center;
}
/* Ende Service Menue */

/* Hauptformular Erziehungberechtigter */
a.lmf_right{
    margin-left:auto; 
    margin-right:0;
    margin-top:-15px;
    text-align:right;
    float: right;
}

/* u.a. in der Login Maske */
label.lmf {
    display: block;
    float: left;
    margin-right: 10px;
    width: 115px;
}

/* im Stammdatenfeld */
.label {
    background-color: inherit;
    color: inherit;
    display: block;
    float: left;
    font: inherit;
    margin-right: 10px;
    padding: 0;
    text-align: inherit;
    text-shadow: inherit;
    width: 115px;
}

.labelRechts {
    width: 155px;
    float: left;
    margin-right: 10px;
    display: block
}
input.lmf {
    margin: 5px;
}

fieldset.lmf {
    background:#EBF4FB none repeat scroll 0 0;
    border:2px solid #B7DDF2;
    width: 666px;
}
legend.lmf {
    color: #fff;
    background: #80D3E2;
    border: 1px solid #781351;
    padding: 2px 6px;
    font:inherit;
    margin:0;
    width: auto;
    line-height: normal;
}
.elements {
    padding:3px 5px;
    text-align: left;
}

.lmfInlineEditBox{
    width: 300px;
    float: left;
}

.lmfClear{
    clear: both;
}


/* Ende Hauptformular */

#ElternEigenschaften{
    float: left;   /* im 470er auskommentieren */
} 
#lmfStammdaten{
    float: left;   /* im 470er auskommentieren */
    min-width: 400px /* im 470er auskommentieren */
} 

#lmf_freigabeDaten{
    float: left;   
    width: 220px;
  /*  display: none; im Modus ohne EIS einkommentieren */
} 
#lmf_adminDaten{
    /* float: left;   im 470er einkommentieren */
    width: 220px;
}
.infoTitel{
    color: red;
    margin-left: 3px;
}

.checkbox{
    float: left;
}

#lmf_schuelerFilter{
    display: none;   
}

.lmf_schuelerFilter{
    font-size: 8pt;
    height: 14px;
}
#lmf_filterVorname{
    width: 82px;
    margin: 8px 0 1px 45px !important;
}
#lmf_filterNachname{
    width: 82px;
    margin: 8px 0 1px 20px !important;
}
#lmf_filterKlasseAlt{
    width: 75px;
    margin: 7px 0 1px 17px !important;
}
#lmf_filterKlasseNeu{
    width: 77px;
    margin: 7px 0 1px 25px !important;
}

.ausgeliehenes{
    margin: 2px 10px;
}

.lmf_kommentar_icon{
    margin: 2px 0px;
}

.lmf_refresh_icon{
    margin: 0px 0px -10px 10px
}

.lmf_kommentar{
    margin: 2px 10px;
    border: 1px;
    border-style:solid;
    border-color:black;
}

.lmfButton{
    background-color: #d0d0d0; 
    width: 80px;
}
.lmfDialog{
    background-color: /*#ebf4fb*/#d9e6f9;
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
}
.lmfDialogInnen{
    padding: 6px;
}

#buecherSelector{
    background-color: white;
}
#buecherSelector_menu .dijitMenuItem{
    background: white;
}
#buecherSelector_menu .dijitMenuItemSelected{
    background: #DBE4EB;
    color: black;
}

.dijitSelect .dijitButtonContents {
    padding: 2px;
}
.dijitButtonNode .dijitArrowButtonInner {
    display: none !important;
}
.dijitArrowButtonChar {
    display: inline !important; /*vorher block geändert wegen Editor */
}

#lmfKommentar{
    min-height:90px;
}

.uploadBtn{
    border:1px solid #333333;
    background:url(../js/dijit/themes/soria/images/buttonEnabled.png) #d0d0d0 repeat-x scroll 0px top;
    font-size:10px;
    font-family:Arial;
    width:100px;
    height:15px;
    line-height:30px;
    vertical-align:middle; /* emulates a <button> */
    text-align:center;
}

hr.lmf_gridLinkLine{
    margin-left:auto; 
    margin-right:auto;
    margin-top:1px;
    margin-bottom:1px;
}
hr.lmf_gridLinkLine_left{
    margin-left:0; 
    margin-right:auto;
    margin-top:1px;
    margin-bottom:1px;
    width: 85px;
}
hr.lmf_gridLinkLine_right{
    margin-left:auto; 
    margin-right:0;
    margin-top:1px;
    margin-bottom:1px;
    width: 85px;
}
.lmfContent {
    font-family:"Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
    font-size:12px;
}

.lmf_innerTitle{
    font-weight:bold;
}


.labelPlanung {
    width: 210px;
    float: left;
    margin-right: 10px;
    display: block
}
.labelMail {
    width: 150px;
    float: left;
    margin-right: 10px;
    display: block
}
.lmfButtonPlanung {
    width: 135px !important; 
    margin-left: 10px !important; 
}

.submit {
    float:right;
}

.dijitMenuItem{
    background-color: #DBE4EB;
    border:1px solid #B7DDF2;
}

.dijitMenuItemLabel{
    padding: 2px 5px;
}


.dijitNumberTextBox INPUT {
    text-align: right;
}
.dijitMenuPassive .dijitMenuItemHover, .dijitMenuItemSelected {
    background-color: darkblue;
    color: white;
}

.lmf_menu {
    float:left;
    background-color: #DBE4EB;
    border:1px solid #B7DDF2;
    color:yellow;
    margin: 3px;
}

.lmf_Beitragszeile {
    float:left;
    margin-top: 2px;
}
.lmf_ServiceLeft {
    float:left;
}
.lmf_buchButton{
    float:left;
    margin: -5px 0 0 15px;
}
.lmf_buecher_in_liste{
    width: 373px;
    float: left;
}
.lmf_left{
    float: left;
}

.lmf_klassen_loeschen_button{
    width: 20px;
    height: 20px;
    background-image: url(../images/delete-icon.png);
    background-repeat:no-repeat;
    background-position:center;
}



/* Suchen und Zusammenführen */
.lmfBuchIcon{ /* im Moment nur in der Zusammenführenmaske*/
    width: 24px;
    height: 20px;
}
.lmfAusleihenIcon{ /* im Moment nur in der Zusammenführenmaske*/
    width: 16px;
    height: 14px;
}

lmfZusammenFuehren{
    width:240px;
}

/* suchen ende */

.lmfToggleIcon{
    width: 11px;
    height: 11px;
}
.lmfKommentarIcon{
    width: 16px;
    height: 16px;
}
.lmfSmallTicIcon{
    width: 11px;
    height: 11px;
}

.lmf_buecher_button_einsammeln{
    width: 24px;
    height: 20px;
    background-image: url(../images/einsammeln2.png);
    background-repeat:no-repeat;
    background-position:center;
}
.lmf_buecher_button_ausleihen{
    width: 24px;
    height: 20px;
    background-image: url(../images/ausleihen2.png);
    background-repeat:no-repeat;
    background-position:center;
}
.lmf_buecher_button_ausgeliehen{
    width: 24px;
    height: 20px;
    background-image: url(../images/ausgeliehen2.png);
    background-repeat:no-repeat;
    background-position:center;
}
.lmf_buecher_button_eingesammelt{
    width: 24px;
    height: 20px;
    background-image: url(../images/eingesammelt2.png);
    background-repeat:no-repeat;
    background-position:center;
}

.lmf_buecher_button1{
    padding: 4px;
}


.lmf_ServiceRight {
    float:right;
    background-color: #DBE4EB;
    border:1px solid #B7DDF2;
}


#agree {
    margin-left:10px;
}

#lmf_service{
    margin:0 auto;
    padding:5px;
    background:#EBF4FB none repeat scroll 0 0;
    border:2px solid #B7DDF2;
}	

.lmf_table1{
    border:1px black solid;
    margin: 15px 0;
    border-spacing: 3px;
    border-collapse: collapse;
}
.lmf_table1 td, .lmf_table1 th{
    padding: 4px; 
    border:1px black solid;
    font-size: 12px;
    /* font-size: 11px; 470er */ 
}

.lmf_radio{
    vertical-align: middle;
    text-align: center;
}


#elternRundMailFormular .elements{
    padding:6px 5px;
    text-align: left;
}

.elementsHeader {
    padding:5px 5px 0 5px;
    font-weight:bold;
}
p.lmf {
    border-bottom:1px solid #B7DDF2;
    color:#666666;
    font-size:12px;
    margin-bottom:20px;
    padding-bottom:10px;
}
a.lmf{
    color:#0099FF;
    font-weight:bold;
}


/* alles zu den Maileditoren */
#elternRundmailDialog{
    /*    width: 600px; /* im 470er */
    width: 700px; 
    min-height:400px;
    background: none repeat scroll 0 0 #ebf4fb;
    border: 2px solid #b7ddf2;
    border-radius: 3px
}

#elternRundMailFormular {
    margin:0 auto;
    /*    width:580px; /*nur im 470er */
    width:670px;
    padding:10px;
}

#eisMailButtonDiv{
    float: left;

}
#eisMailFiles{
    float: left;
    margin-left: 136px;
    margin-top: -33px;
}
#eisMailSpacer{
    float: left;
    margin: 8px 0;
}
.lmfRundmail{ 
    width: 16px;
    height: 16px;
}

#lmfMailBetreffInput{
    /*    width:380px;/*nur im 470er */
    width:562px;
    float: right;
    margin-right:25px;
}
#eisMailBetreffInput{
    /*    width:510px; /*nur im 470er */
    width:610px;
    float: left;
    margin-right:25px;
}
#lmfMailText  {
    width:650px;
    background-color: white;
    border:1px solid black;
    padding: 5px;
}

#eisMailText  {
    /*   width:570px; /*nur im 470er */
    width:655px;
    background-color: white;
    border:1px solid black;
    padding: 5px;
    float: left;
}

#eisMailText_iframe, #lmfMailText_iframe{
    min-height: 100px;
}

#eisMailText .dijitToolbar, #lmfMailText .dijitToolbar {
    margin: -5px -5px 5px -5px !important;
}

