body {
  background: #f7f7f7;
  color: #445;
}
#allwrap {
  background: #fff;
    border: 1px solid #eee;
}
#topmenu {
  background: none;
  border-top: 0px solid #000;
}
#header {
  background: none;
  border-bottom: 1px solid #000;
}
#logo {
  border-top: 0px solid #fff;
  background: none;
}
#headerright{
  background: none;
}
h1 {
color: #223;
}
h2 {
color: #223;
}
#logo h2 {
  color:#000;
}
#logo a:link, #logo a:visited, #logo a:hover, #logo a:active {
border: none;
}
#logo h2 a:link, #logo h2 a:visited, #logo h2 a:hover, #logo h2 a:active {
color: #000;
text-decoration: none;
}
h3 {
color: #223;
}
#logo h3 {
  color: #000;
}
h4 {
color: #223;
}
h5 {
color: #223;
}
h6 {
color: #223;
}
#search{
  background: none;
  border:0px solid #ccc;
}
#search input.inputbox {
    background: #fff url(../images/search-bg.jpg) no-repeat right center;
  color: #223;
    border:1px solid #778;
  -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
#search input.button {
    background: #000;
  color:#fff;
  border: 0;
  border-top: 0px solid #ddd;
}
#search div.search label{
    color: #fff;
}
#wrap {
  background: none;
}
#cbody {

}
#content60 {
  background: none;
}
#pathway {
  background: none;
  border-top: 0px solid #e7e7e8;
}
#pathway a:link, #pathway a:visited {
color: #66c;
text-decoration: none;
}
#pathway a:hover, #pathway a:active {
color: #66c;
text-decoration: underline;
}
#content {
  background: none;
}
#footerwrap {
  background: #f7f7f7;
  border-top: 0px solid #fff;
}
#footer {
  background: none;
  color: #445;
  border-top: 0px solid #ddd;
}
#footer div.moduletable {
background: none;
}
#sidebar {
  background: none;
}
#sidebar-2 {
  background: none;
}
#slideshow-mod {
  background: none;
}
fieldset{

}
a:link, a:visited {
color: #66c;
text-decoration: none;
}
a:hover, a:active {
color: #66c;
text-decoration: underline;
}
h2 a:link, h2 a:visited, h2 a:hover, h2 a:active {
color: #223;
}
#footer a:link, #footer a:visited, #footer a:hover, #footer a:active {
color: #445;
text-decoration: underline;
}
#a4j a:link, #a4j a:visited, #a4j a:hover, #a4j a:active {
color: #445;
text-decoration: underline;
}
/* ==== MODULES =======================================  */
div.moduletable {
  background: none;
}
div.moduletable h3 {
  color:#223;
    background: none;
    border-bottom: 1px dotted #99a;
}
/* ==== SIDEBAR MODULES =======================================  */
#sidebar div.moduletable {
  background: none;
}
#sidebar div.moduletable h3 {
  color:#223;
    background: none;
    border-bottom: 0px dotted #99a;
}
/* ==== SIDEBAR2 MODULES =======================================  */
#sidebar-2 div.moduletable {
  background: none;
}
#sidebar-2 div.moduletable h3 {
  color:#223;
    background: none;
    border-bottom: 0px dotted #99a;
}
/* ======= SEARCH =======================  */
#search .moduletable {
  background: none;
}
#search .moduletable h3{
  background: none;
}
/* ======= Topmenu =========== */
#topmenu .moduletable {
    border: 0;
}
#topmenu .menu {
  background: none;
  color: #000;
  border: 0;
}
#topmenu .menu li a {
    color: #000;
  border-right: 0px solid #fff;
}
#topmenu .menu li.active a {
  color: #889;
  background: none;
}
#topmenu .menu li a:hover {
  color: #889;
  background: none;
}
/* ======= SIDE MENUS ================================  */
.moduletable_menu {
background: none ;
color: #445;
border-bottom: 0px solid #fff;
}
.moduletable_menu h3 {
  color:#223;
    background: none;
    border-bottom: 1px dotted #99a;
}
.moduletable_menu li {
  border-bottom: 1px dotted #99a;
}
.moduletable_menu li ul li {
  border-bottom:0px solid #ccc;
  border-top:0px dashed #e4e4e4;
  background: none;
}
.moduletable_menu li a {
  color: #445;
}
.moduletable_menu li ul li a {
background: none;
}
.moduletable_menu ul.menu li.current a {
  color:#66c;
}
.moduletable_menu ul.menu li.current * a {
  color:#445;
}
.moduletable_menu li ul li a:hover, .moduletable_menu li.current ul li a:hover {
  color:#66c;
}
.moduletable_menu li a:link, .moduletable_menu li a:visited {
color: #445;
text-decoration: none;
}
.moduletable_menu li a:hover {
color: #66c;
text-decoration: none;
}
.moduletable_menu li a:active {
color: #66c;
text-decoration: none;
}

/* ================  details  ==================== */
.content_rating {
  color: #889;
}
.content_vote {
  color: #889;
}
.article-info {
   color: #889;
}
/* =====================  Search results ===================== */
dl.search-results dd.result-created {
    color: #889;
}
div.search form#searchForm fieldset.word,
div.search form#searchForm fieldset.phrases,
div.search form#searchForm fieldset.only {
    border: 1px solid #999;
}
.small{
    color:#889;
}
/* =====================  Finder ===================== */
div.finder form#finder-search fieldset.word {
    border: 1px solid #999;
}
div#finder-filter-window {
  border-top: 1px solid #999;
  border-bottom: 1px solid #999;
}
/* =====================  Single Contact ===================== */
div.contact dl.tabs dt.open a {
    color: #445;
}
div.contact dl.tabs dt {
    border-left: 1px solid #999;
    border-right: 1px solid #999;
    border-top: 1px solid #999;
}
div.contact div.current {
    border: 1px solid #999;
}
/* ===================== tooltip =====================  */
.tip {
  border:1px solid #ccc;
  background:#fff;
}
/* ===================== Submit a weblink, Submit an article, Edit article =====================  */
div.edit form fieldset
{
    border: 1px solid #999;
}
/* =====================  User profile ===================== */
.profile-edit #member-profile fieldset
{
    border: 1px solid #999;
}
div.profile fieldset{
    border: 1px solid #999;
}