<div class="background">
        <div id="lmf_error" style="display:none" class="errormsgbox"></div>  	
        <div id="lmf_warning" style="display:none" class="warning"></div>
	<div class="success" style="display:none" id="lmf_info"></div>
	<form id="aktivierungsForm" method="post" class="registration_form">
	  <fieldset class="lmf">
	    <legend id="lmfAnmeldeLegende" class="lmf">Aktiverung Lernmittelfonds</legend>
            <br>
	    <div class="elements">
	      <label for="e-mail" class="lmf">AktivierungsCode:</label>
	      <input type="text" id="aktivierungsCode" name="aktivierungsCode" size="10" class="lmf"/>
	    </div>
	  
	    <div class="submit">
	     <input type="hidden" name="initCodeNeu" id="initCodeNeu" value="FALSE" />
	     <input type="hidden" name="formsubmitted" value="TRUE" />
	      <input id="lmfLoginButton" type="submit" class="lmf" value="Aktivieren" />	
            </div>
	  </fieldset>
         </form>
   <br><div id="lmf_PW_hint" class="lmf">Sie haben den Aktivierungscode nicht mehr? ... dann ... <a href="javascript:elternInfo.initCodeNeu()">neu anfordern</a>.</div>
	</form>
</div>
