<div class="lmfDialog">
<div class="lmfDialogInnen">
    <br>
    <form dojoType="dijit.form.Form" id="buchAusleihenFormular">
        <script type="dojo/event" event="onSubmit" args="e">
           dojo.stopEvent(e); // prevent the default submit
           if (dijit.byId("buecherSelector").getValue()>0){
            dojo.xhrPost( {
                 url: elternInfo.root + "php/lmf-service.php",
                 postData: dojo.formToJson("buchAusleihenFormular"),
                 handleAs: "json",
                 headers: {"Content-Type": "application/json; charset=utf-8"},
                 load: function(data) { elternInfo.buchAusleihenSpeichernOK(data) },
                 error: function(data) { elternInfo.buchAusleihenSpeichernNOK(data) }
               });
             }else{
                elternInfo.dialogAusleihenSchliessen();
             }
        </script>
        <input type="hidden" name="type" value="einzelnesBuchAusleihen"></input>
        <input type="hidden" name="schuelerId" id="lmfSchuelerId" value="0"></input>
        
        <div >
             
             <label for='buchId' id="lmfDialogAusleihenTitel">
            </label><br>
            <label for='buchId' id="lmfBuchIdLabel">
                Buch zum Ausleihen: 
            </label>
            <br><br>
            <div id="lmfSelectBuch"></div >
        </div> 
             <br> 
        <div>
            <button  type="submit" class="lmfButton">
                OK
            </button>
            <button  class="lmfButton" type="button" onClick="elternInfo.dialogAusleihenSchliessen();">
                Abbrechen
            </button>
        </div>
    </form>
    <br>
</div> </div> 
