<form class="registration_form" onsubmit>
    <fieldset class="lmf">
        <legend class="lmf">Buch zuordnen</legend>
        <div class="elements">
            <div class="label"><label for="lmf_ISBN">
                    ISBN:
                </label></div>
            <div><input dojoType="dijit.form.TextBox" type="text" name="lmf_ISBN" id="lmf_ISBN"></div>
        </div>
        <div class="elements">
            <div class="label"><label for="lmf_buchTitel">
                    Titel:
                </label></div>
            <div><input dojoType="dijit.form.TextBox" type="text" name="lmf_buchTitel" id="lmf_buchTitel"></div>
        </div>
        <div class="elements">
            <div class="label"><label for="lmf_leihDauer">
                    Leihdauer:
                </label></div>
            <div><input dojoType="dijit.form.NumberTextBox" type="text" name="lmf_leihDauer" id="lmf_leihDauer"></div>
        </div>
        <div class="elements">
            <div class="label"> <label for="lmf_buchKlassenstufe">
            Klassenstufe:
        </label></div>
            <div><input dojoType="dijit.form.NumberTextBox" type="text" name="lmf_buchKlassenstufe" id="lmf_buchKlassenstufe"></div>
        </div>
        <div class="elements">
            <div class="label"><label for="lmf_neuPreis">
            Neupreis:
        </label></div>
            <div><input dojoType="dijit.form.NumberTextBox" type="text" name="lmf_neuPreis" id="lmf_neuPreis">€</div>
        </div>
        <button dojoType="dijit.form.Button" type="submit" onClick="return dijit.byId('lmf_buchDialog').isValid();">
            OK
        </button>
        <button dojoType="dijit.form.Button" type="button" onClick="dijit.byId('lmf_buchDialog').hide();">
            Cancel
        </button>
    </fieldset>
</form>    
