<div class="lmfDialog">
<div class="lmfDialogInnen">
    <br>
    <form dojoType="dijit.form.Form" id="buecherKommentarFormular" target="_blank" method="post" action="">
        <script type="dojo/event" event="onSubmit" args="e">
             //dojo.stopEvent(e); // prevent the default submit
             this.set("action",elternInfo.dialogBuecherKommentar.page);
             //this.submit();
             console.log(this.action)
             console.log(this)
             setTimeout(function(){ elternInfo.dialogBuecherKommentarSchliessen(); }, 3000);
             
        </script>
       <div >
             
            <label for='kommentar' id="lmfBuecherKommentarLabel">
                Hier können Sie einen zusätzlichen Text eingeben, der über den Listen der zurückzugebenden Bücher stehen wird. 
            </label>
            <br><br>
            <textarea  name="kommentar" id="lmfBuecherKommentar" dojoType="dijit.form.Textarea" ></textarea >
        </div>
              <br> 
        <div>
            <button  type="submit" class="lmfButton">
                Senden
            </button>
            <button  class="lmfButton" type="button" onClick="elternInfo.dialogBuecherKommentarSchliessen();">
                Abbrechen
            </button>
        </div>
    </form>
    <br>
</div> </div> 

