<div class="background">
<div id="lmf_error" style="display:none" class="errormsgbox"></div>  	
<div id="lmf_warning" style="display:none" class="warning"></div>
<div class="success" style="display:none" id="lmf_info"></div>
<p><a  class="lmf_right" href="javascript:logout();">Abmelden</a></p>
<form id="changePwForm" class="registration_form">
  <fieldset class="lmf">
    <legend class="lmf">Passwort ändern.</legend>
    <p>An dieser Stelle können Sie Ihr Passwort ändern. geben Sie zunächst das alte Passwort ein und dann zweimal das neue.</p>
	    <div class="elements">
      <label for="oldPasswort" class="lmf">altes Passwort:</label>
      <input type="password" id="oldPasswort" name="oldPasswort" size="25" class="lmf"/>
    </div>
    <div class="elements">
      <label for="newPasswort" class="lmf">1x neues Passwort:</label>
      <input type="password" id="newPasswort" name="newPasswort" size="25" class="lmf"/>
    </div>
    <div class="elements">
      <label for="newPasswort2" class="lmf">2x neues Passwort:</label>
      <input type="password" id="newPasswort2" name="newPasswort2" size="25" class="lmf"/>
    </div>
    <div class="submit">
	     <input type="hidden" name="formsubmitted" value="TRUE" />
	      <button type="submit" class="lmf" id="lmfChangePwButton">absenden</button>
	    </div>
  </fieldset>
    <p>Ohne Andern des Passworts <a href="javascript:elternInfo.rufeStammdatenSeite()">zurück!</a></p>
</form>
</div>