<div class="soria">
    <form id="elternRundMailFormular" name="elternRundMailFormular">
        <div class="elements">
            <div class="label">Mailempfänger: </div>
            <div id='RundMailEmpfaenger'></div>
        </div>    
        <div class="elements">
            <div class="label">Betreff: </div>
            <div><input type="text" id="eisMailBetreffInput" name="eisMailBetreffInput" size="60"/></div>
        </div>   
        <div id="eisMailSpacer"><div>
        <div id="eisMailDateiWahl" class="uploadBtn btn">Datei anfügen</div><br>
        <div  class="lfmField" id="eisMailFiles"></div><br>
        <div id="eisMailText"></div>
        <input type="hidden" id="eisMailTextHidden" name="eisMailTextHidden" value="">
        <input type="hidden" id="eisMailKlasseHidden" name="eisMailKlassenId" value="">
        <input type="hidden" name="type" value="rundMail">
        <br>
        <div id="eisMailButtonDiv"></div>
    </form>
</div>
