<form class="registration_form">
  <fieldset class="lmf">
    <legend class="lmf">Erziehungsberechtigter</legend>
    <div id="lmfStammdaten">
    <div class="elements" id='lmf_div_Vorname'>
      <div class="label">Vorname :</div>
      <div id='lmfVorname' class='lmfInlineEditBox'></div>
      <div class="lmfClear"></div>
    </div>
    <div class="elements" id='lmf_div_Nachname'>
      <div class="label">Nachname :</div>
      <div id='lmfNachname' class='lmfInlineEditBox'></div>
      <div class="lmfClear"></div>
    </div>
    <div class="elements" id='lmf_div_Telefon'>
      <div class="label">Telefon :</div>
      <div id='lmfTelefon' class='lmfInlineEditBox'></div>
      <div class="lmfClear"></div>
    </div>
    <div class="elements" id='lmf_div_Email'>
      <div class="label">Email :</div>
      <div id='lmfEmail' class='lmfInlineEditBox'></div>
      <div class="lmfClear"></div>
    </div>
    <div class="elements" id='lmf_div_Anschrift'>
      <div class="label">Anschrift :</div>
      <div id='lmfAnschrift' class='lmfInlineEditBox'></div>
      <div class="lmfClear"></div>
    </div>
    <div class="elements" id="lmf_div_PW_aendern">
      <div class="label">Passwort :</div>
      <div id='lmf_PW_aendern'><a href="javascript:elternInfo.passwort_aendern_laden()">ändern</a></div>
      <div class="lmfClear"></div>
    </div>
        </div>
    <div id="ElternEigenschaften">
    <div id='lmf_freigabeDaten'  style="display:none">
    <div class="elementsHeader">Datenfreigabe für:</div>
    <div class="elements" id='lmf_div_freigabe_alle' title="alle angemeldeten Eltern der Klasse können sich eine Liste mit dem Namen Eltern/Kind, Telefon, email und Anschrift erstellen.">
        <div class="labelRechts">alle Eltern der Klasse :</div>
      <div class="checkbox" id='lmf_Freigabe_alle'></div>
      <span class="infoTitel" >&nbsp;?&nbsp;</span>
    </div>
    <div class="elements" id='lmf_div_freigabe_ev' title="Sie erhalten Rundmails, welche Elternvertreter über dieses System an Ihre Klassen versenden können.">
      <div class="labelRechts">Elternvertreter :</div>
      <div class="checkbox" id='lmf_Freigabe_ev'></div>
      <span class="infoTitel" >&nbsp;?&nbsp;</span>
    </div>
    <div class="elements" id='lmf_div_freigabe_info' title="Sie erhalten Rundmails, die der Elternsprecher der Schule versendet (Themen sind z.B. Schulveranstaltungen, Angebote zum Auslandsjahr, Berufs- oder Studieninformationsveranstaltungen u.ä.)">
      <div class="labelRechts">allgemeine Informationen :</div>
      <div class="checkbox" id='lmf_Freigabe_info'></div>
      <span class="infoTitel" >&nbsp;?&nbsp;</span>
    </div>
    <div class="elements" id='lmf_div_freigabe_lmf' title="Sie erhalten per eMail Informationen und Erinnerungen zum Lernmittelfonds. Auf diesem Weg informieren wir z.B. über Beginn und nahendes Ende des Anmeldezeitraums für das nächste Schuljahr)">
      <div class="labelRechts">Lernmittelfonds :</div>
      <div class="checkbox" id='lmf_Freigabe_lmf'></div>
      <span class="infoTitel" >&nbsp;?&nbsp;</span>
    </div>
    </div>
    <div id='lmf_adminDaten' style="display:none">  
    <div class="elementsHeader">sonstiges:</div>
    <div class="elements" id='lmf_div_zuzahlungsBefreit'>
      <div class="labelRechts">Zahlungsbefreit :</div>
      <div id='lmf_zuzahlungsBefreit'></div>
    </div>
    <div class="elements" id='lmf_div_ist_Admin'>
      <div class="labelRechts">Admin :</div>
      <div id='lmf_ist_Admin'></div>
    </div>
    <div class="elements" id='lmf_div_stopMail'>
      <div class="labelRechts">keine weiteren Mails :</div>
      <div id='lmf_stopMail'></div>
    </div>
    </div>
        </div>
  </fieldset>
</form>
<form action="kinder.php" method="post" class="registration_form">
  <fieldset class="lmf">
    <legend class="lmf" id="lmf_schuelerGrid">Schüler und Teilnahme am Lernmittelfonds</legend>
    <div id="lmf_schuelerFilter">
    <input class="lmf_schuelerFilter" id="lmf_filterVorname" type="text" onkeyup ="elternInfo.schuelerFiltern()">
    <input class="lmf_schuelerFilter" id="lmf_filterNachname" type="text" onkeyup ="elternInfo.schuelerFiltern()">
    <input class="lmf_schuelerFilter" id="lmf_filterKlasseAlt" type="text" onkeyup ="elternInfo.schuelerFiltern()">
    <input class="lmf_schuelerFilter" id="lmf_filterKlasseNeu" type="text" onkeyup ="elternInfo.schuelerFiltern()">
    </div>
    <div id='lmf_schueler'></div><br>
    <div id="lmf_neuerSchuelerSchaltflaeche"></div>
  </fieldset>
</form>
<form action="freigabe.php" method="post" class="registration_form" id="lmfKontaktdatenForm" style="display: none">
  <fieldset class="lmf">
    <legend class="lmf">Freigabe Kontaktdaten</legend>
    <div id='lmfKontaktdaten'></div><br>
  </fieldset>
</form>


