<div class="lmfDialog">
<div class="lmfDialogInnen">
    <br>
    <form dojoType="dijit.form.Form" id="kommentarFormular">
        <script type="dojo/event" event="onSubmit" args="e">
             dojo.stopEvent(e); // prevent the default submit
           
           dojo.xhrPost( {
                url: elternInfo.root + "php/lmf-service.php",
                postData: dojo.formToJson("kommentarFormular"),
                handleAs: "json",
                headers: {"Content-Type": "application/json; charset=utf-8"},
                load: function(data) { elternInfo.speichernOK(data) },
                error: function(data) { elternInfo.speichernNOK(data) }
              });
        </script>
        <input type="hidden" name="type" value="kommentarBearbeiten"></input>
        <input type="hidden" name="schuelerId" id="lmfSchuelerId" value="0"></input>
        
        <div >
             
            <label for='kommentar' id="lmfKommentarLabel">
                Kommentar:
            </label>
            <br><br>
            <textarea  name="kommentar" id="lmfKommentar" dojoType="dijit.form.Textarea" ></textarea >
        </div>
              <br> 
        <div>
            <button  type="submit" class="lmfButton">
                OK
            </button>
            <button  class="lmfButton" type="button" onClick="elternInfo.dialogKommentarSchliessen();">
                Abbrechen
            </button>
        </div>
    </form>
    <br>
</div> </div> 

