<div class="background">
        <div id="lmf_error" style="display:none" class="errormsgbox"></div>  	
        <div id="lmf_warning" style="display:none" class="warning"></div>
	<div class="success" style="display:none" id="lmf_info"></div>
	<form id="loginForm" method="post" class="registration_form">
	  <fieldset class="lmf">
	    <legend id="lmfAnmeldeLegende" class="lmf">Login Lernmittelfonds</legend>
           <div class="elements lmfHalbLinks lmf" id="lmfAnmeldeText">Anmeldung zum Lernmittelfonds:</div><div class="elements lmfRechtsGrau">Noch nicht registriert? <a href="javascript:elternInfo.registrieren()"> Registrieren</a></div> 
	     <div class="lmfClear"></div>
	    <div class="elements">
	      <label for="e-mail" class="lmf">Email :</label>
	      <input type="text" id="e-mail" name="e-mail" size="25" class="lmf"/>
	    </div>
	  
	    <div id="lmf_PW" class="elements">
	      <label for="Passwort" class="lmf">Passwort:</label>
	      <input type="password" id="Passwort" name="Passwort" size="25" class="lmf"/>
	    </div>
	    <div class="submit">
	     <input type="hidden" name="PW-vergessen" id="PW-vergessen" value="FALSE" />
	     <input type="hidden" name="formsubmitted" value="TRUE" />
	      <input id="lmfLoginButton" type="submit" class="lmf" value="Login" />	
            </div>
	  </fieldset>
   <br><div id="lmf_PW_hint" class="lmf">Sie haben Ihr Passwort vergessen? Bitte klicken sie <a href="javascript:elternInfo.passwort_vergessen()">hier</a>.</div>
	</form>
</div>