<form class="registration_form" id="mailFormular" name="mailFormular">
    <fieldset class="lmf">
        <legend class="lmf">Mail versenden</legend>
        <div class="elements">
            <div class="labelMail">
                <input type="radio" id="nur_EV" name="filter" value="nur_EV" checked>&nbsp; Elternvertreter
            </div>
            <div class="labelMail">
                <input type="radio" id="nur_LMF" name="filter" value="nur_LMF" > Lernmittelfonds
            </div>
            <div class="labelMail">
                <input type="radio" id="nur_Filter" name="filter" value="nur_Filter">  Interessenten
            </div>
            <div class="labelMail">
                <input type="radio" id="alle" name="filter" value="alle">  alle
            </div>
            <div class="lmfClear"></div>
        </div>    
        <div class="elements">
            <div class="labelMail">
                <input type="radio" id="Empfaenger_alle" name="empfaenger" value="alle">&nbsp; alle Klassen
            </div>
            <div class="labelMail">
                <input onChange="elternInfo.wechselAuswahlJahr()" type="radio" id="auswahlDiesesJahr" name="lmfAuswahlJahr" value="0" checked> Dieses Schuljahr
            </div>
            <div class="labelMail">
                <input onChange="elternInfo.wechselAuswahlJahr()" type="radio" id="auswahlNaechstesJahr" name="lmfAuswahlJahr" value="1"> Naechstes Schuljahr
            </div>
            <div class="lmfClear"></div>
        </div>    

        <div class="elements">
            <div class="labelMail">
                <input type="radio" id="Empfaenger_stufe" name="empfaenger" value="stufe">&nbsp; Klassenstufe</div>
            <div id='lmfMailKlassenStufe'>bitte auswählen: </div>
        </div>    

        <div class="elements">
            <div class="labelMail">
                <input type="radio" id="Empfaenger_klasse" name="empfaenger" value="klasse">&nbsp; Klasse</div>
            <div id='lmfMailKlassen'>bitte auswählen: </div>
            <input type="hidden" id="lmfKlasseHidden" name="lmfKlasseHidden" value="">
        </div>    
<!--        <div class="elements">
            <div class="labelRechts">
                <input type="checkbox" id="nur_EV" name="nur_EV" value="true">&nbsp; nur Elternvertreter</div>
        </div>  
-->

    </fieldset>
    <br>
    Bitte schreiben Sie hier Ihre Mail:<br><br>
    <div id="lmfMailBetreff">Betreff: <input type="text" id="lmfMailBetreffInput" name="lmfMailBetreffInput" size="60"/></div><br>
    <div  class="lfmField" id="hFiles"></div><br>
    <div id="btnH" class="uploadBtn btn">Datei anfügen</div><br>
    <div id="lmfMailText"></div>
    <input type="hidden" id="lmfMailTextHidden" name="lmfMailTextHidden" value="">
    <div id="lmfMailButtonDiv"></div>
</form>

