<form class="registration_form">
  <fieldset class="lmf">
    <legend id="lmfLegendPlanung" class="lmf">Jahresplanung</legend>
    <div class="elements">
      <div class="labelPlanung"><input type="radio" id="lmfAltesJahrRadio" name="Auswahl"> &nbsp; Schuljahr zurückstellen:</div>
      <div><input type="checkbox" checked disabled="disabled" id="lmfAltesJahr"> &nbsp; <input  class="lmfButtonPlanung" id="lmfAltesJahrButton" type="button" onclick="elternInfo.planung('lmfAltesJahr');" value="zurück stellen"></div>
    </div>    <div class="elements">
      <div class="labelPlanung"><input type="radio" id="lmfBuecherZuordnenRadio" name="Auswahl"> &nbsp; Bücher zuordnen:</div>
      <div><input type="checkbox" disabled="disabled" id="lmfBuecherZuordnen"> &nbsp; <input  class="lmfButtonPlanung" id="lmfBuecherZuordnenButton" type="button" onclick="elternInfo.planung('lmfBuecherZuordnen');"></div>
    </div>
    <div class="elements">
      <div class="labelPlanung"><input type="radio" id="lmfBuchlistenErzeugenRadio" name="Auswahl"> &nbsp; neue Bücherlisten erzeugen:</div>
      <div><input type="checkbox" disabled="disabled" id="lmfBuchlistenErzeugen"> &nbsp; <input class="lmfButtonPlanung" id="lmfBuchlistenErzeugenButton" type="button" onclick="elternInfo.planung('lmfBuchlistenErzeugen');"></div>
    </div>
    <div class="elements">
      <div class="labelPlanung"><input type="radio" id="lmfKlassenErzeugenRadio" name="Auswahl"> &nbsp; neue Klassen erzeugen:</div>
      <div><input type="checkbox" disabled="disabled" id="lmfKlassenErzeugen"> &nbsp; <input class="lmfButtonPlanung" id="lmfKlassenErzeugenButton" type="button" onclick="elternInfo.planung('lmfKlassenErzeugen');"></div>
    </div>
    <div class="elements">
      <div class="labelPlanung"><input type="radio" id="lmfSchlussTerminFestlegenRadio" name="Auswahl">  &nbsp; Zahlungsende festlegen</div>
      <div><input type="checkbox" disabled="disabled" id="lmfSchlussTerminFestlegen"> &nbsp; <input class="lmfButtonPlanung" id="lmfSchlussTerminFestlegenButton" type="button" onclick="elternInfo.planung('lmfSchlussTerminFestlegen');"></div>
    </div>
    <div class="elements">
      <div class="labelPlanung"><input type="radio" id="lmfAnmeldungenFreigebenRadio" name="Auswahl">  &nbsp; Anmeldungen freigeben</div>
      <div><input type="checkbox" disabled="disabled" id="lmfAnmeldungenFreigeben"> &nbsp; <input class="lmfButtonPlanung" id="lmfAnmeldungenFreigebenButton" type="button" onclick="elternInfo.planung('lmfAnmeldungenFreigeben');"></div>
    </div>
    <div class="elements">
      <div class="labelPlanung"><input type="radio" id="lmfMailAnmeldenRadio" name="Auswahl">  &nbsp;  Mail "jetzt anmelden":</div>
      <div><input type="checkbox" disabled="disabled" id="lmfMailAnmelden"> &nbsp; <input class="lmfButtonPlanung" id="lmfMailAnmeldenButton" type="button" onclick="elternInfo.planung('lmfMailAnmelden');"></div>
    </div>
    <div class="elements">
      <div class="labelPlanung"><input type="radio" id="lmfMailErinnernRadio" name="Auswahl"> &nbsp; Mail "erinnern anmelden":</div>
      <div><input type="checkbox" disabled="disabled" id="lmfMailErinnern"> &nbsp; <input class="lmfButtonPlanung" id="lmfMailErinnernButton" type="button" onclick="elternInfo.planung('lmfMailErinnern');"></div>
    </div>
    <div class="elements">
      <div class="labelPlanung"><input type="radio" id="lmfMailBezahlenRadio" name="Auswahl"> &nbsp; Mail "noch nicht bezahlt":</div>
      <div><input type="checkbox" disabled="disabled" id="lmfMailBezahlen"> &nbsp; <input class="lmfButtonPlanung" id="lmfMailBezahlenButton" type="button" onclick="elternInfo.planung('lmfMailBezahlen');"></div>
    </div>
    <div class="elements">
      <div class="labelPlanung"><input type="radio" id="lmfAnmeldungenStoppenRadio" name="Auswahl"> &nbsp;  Anmeldungen (alt) stoppen:</div>
      <div><input type="checkbox" disabled="disabled" id="lmfAnmeldungenStoppen"> &nbsp; <input class="lmfButtonPlanung" id="lmfAnmeldungenStoppenButton" type="button" onclick="elternInfo.planung('lmfAnmeldungenStoppen');"></div>
    </div>
    <div class="elements">
      <div class="labelPlanung"><input type="radio" id="lmfMailBuchRueckgabeInfoRadio" name="Auswahl"> &nbsp;  Info-Mail zur Buchrückgabe:</div>
      <div><input type="checkbox" disabled="disabled" id="lmfMailBuchRueckgabeInfo"> &nbsp; <input class="lmfButtonPlanung" id="lmfMailBuchRueckgabeInfoButton" type="button" onclick="elternInfo.planung('lmfMailBuchRueckgabeInfo');"></div>
    </div>
    <div class="elements">
      <div class="labelPlanung"><input type="radio" id="lmfNeuAnmeldungenStoppenRadio" name="Auswahl"> &nbsp;  Anmeldungen (neu) stoppen:</div>
      <div><input type="checkbox" disabled="disabled" id="lmfNeuAnmeldungenStoppen"> &nbsp; <input class="lmfButtonPlanung" id="lmfNeuAnmeldungenStoppenButton" type="button" onclick="elternInfo.planung('lmfNeuAnmeldungenStoppen');"></div>
    </div>
    <div class="elements">
      <div class="labelPlanung"><input type="radio" id="lmfMailBuchRueckgabeRadio" name="Auswahl"> &nbsp;  Mail Buchrückgabe(Mahnung):</div>
      <div><input type="checkbox" disabled="disabled" id="lmfMailBuchRueckgabe"> &nbsp; <input class="lmfButtonPlanung" id="lmfMailBuchRueckgabeButton" type="button" onclick="elternInfo.planung('lmfMailBuchRueckgabe');"></div>
    </div>
    <div class="elements">
      <div class="labelPlanung"><input type="radio" id="lmfCheckBuecherlistenRadio" name="Auswahl"> &nbsp; Check Bücherlisten:</div>
      <div><input type="checkbox" disabled="disabled" id="lmfCheckBuecherlisten"> &nbsp; <input  class="lmfButtonPlanung" id="lmfCheckBuecherlistenButton" type="button" onclick="elternInfo.planung('lmfCheckBuecherlisten');"></div>
    </div>
    <div class="elements">
      <div class="labelPlanung"><input type="radio" id="lmfCheckKlassenwechselRadio" name="Auswahl"> &nbsp; Check Klassenwechsel:</div>
      <div><input type="checkbox" disabled="disabled" id="lmfCheckKlassenwechsel"> &nbsp; <input  class="lmfButtonPlanung" id="lmfCheckKlassenwechselButton" type="button" onclick="elternInfo.planung('lmfCheckKlassenwechsel');"></div>
    </div>
    <div class="elements">
      <div class="labelPlanung"><input type="radio" id="lmfAusgabelistenDruckenRadio" name="Auswahl"> &nbsp; Ausgabelisten drucken:</div>
      <div><input type="checkbox" disabled="disabled" id="lmfAusgabelistenDrucken"> &nbsp; <input  class="lmfButtonPlanung" id="lmfAusgabelistenDruckenButton" type="button" onclick="elternInfo.planung('lmfAusgabelistenDrucken');"></div>
    </div>
    <div class="elements">
      <div class="labelPlanung"><input type="radio" id="lmfNeuesJahrRadio" name="Auswahl"> &nbsp; neues Schuljahr:</div>
      <div><input type="checkbox" disabled="disabled" id="lmfNeuesJahr"> &nbsp; <input  class="lmfButtonPlanung" id="lmfNeuesJahrButton" type="button" onclick="elternInfo.planung('lmfNeuesJahr');" value="jetzt erzeugen"></div>
    </div>
  </fieldset>
</form>


