<div class="background">
    <div id="lmf_error" style="display:none" class="errormsgbox"></div>  	
    <div id="lmf_warning" style="display:none" class="warning"></div>
    <div class="success" style="display:none" id="lmf_info"></div>
    <div id="lmf_Kopfzeile">
    <a id="lmf_WechselApplikation" href="javascript:elternInfo.wechselApplikation();">zur Elterninfo</a>
    <span id="kopf-rechts">
    <a  id="lmf_Abmelden" href="javascript:elternInfo.logout();">Abmelden</a>
    <span id="mail-icon-span"><img id="mail-icon" onclick="elternInfo.showMailJobs()" src="/lmf/images/mail-animated.gif" title=""></span>
    </span>
    <div id="lmfTitel" >Lernmittelfonds</div>
    </div>
    <div class="lmfClear"></div>
    <div id="lmf_serviceMenue"></div>
    <div id="lmf_applikation">
        <div id="lmf_familie"></div>
    </div>
</div>
