<div id="lmf_error" style="display:none" class="errormsgbox"></div>  	
<div id="lmf_warning" style="display:none" class="warning"></div>
<div class="background">
    <div class="success" style="display:none" id="lmf_info"></div>
    <form id="registerForm" method="post" class="registration_form">
        <fieldset class="lmf">
            <legend class="lmf">Registrierung als Erziehungsberechtigter </legend>

            <div class=" elements lmfHalbLinks">Bitte geben Sie Ihre eigenen Daten ein:</div><div class="elements lmfRechtsGrau">Bereits registriert? <a href="javascript:elternInfo.loginSeiteLaden();">Anmelden</a></div> 
            <div id="lmfStammdaten"><div class="elements">
                    <label class="lmf" for="Vorname">Vorname :</label>
                    <input type="text" id="Vorname" name="Vorname" size="30" />
                </div>
                <div class="elements">
                    <label class="lmf" for="Nachname">Nachname :</label>
                    <input type="text" id="Nachname" name="Nachname" size="30" />
                </div>
                <div class="elements" >
                    <label class="lmf" for="Telefon">Telefon :</label>
                    <input type="text" id="Telefon" name="Telefon" size="30" />
                </div>
                <div class="elements">
                    <label class="lmf" for="e-mail">E-mail :</label>
                    <input type="text" id="e-mail" name="e-mail" size="30" maxlength="50"/>
                </div>
                <div class="elements">
                    <label class="lmf" for="anschrift">Anschrift :</label>
                    <input type="text" id="anschrift" name="anschrift" size="30" maxlength="50"/>
                </div>
                <div class="elements">
                    <label class="lmf" 	for="Passwort">Passwort:</label>
                    <input type="password" id="Passwort" name="Passwort" size="20" maxlength="15" />
                </div>
                <div class="elements">
                    <label class="lmf" 	for="Passwort2">Passwort (Wiederholung):</label>
                    <input type="password" id="Passwort2" name="Passwort2" size="20" maxlength="15" />
                </div><br>
            </div>
            <div id="ElternEigenschaften">
                <div id='lmf_freigabeDaten'  >
                    <div class="elementsHeader">Datenfreigabe für:</div>
                    <div class="elements" id='lmf_div_freigabe_alle' title="alle angemeldeten Eltern der Klasse können sich eine Liste mit dem Namen Eltern/Kind, Telefon, email und Anschrift erstellen.">
                        <div class="labelRechts">alle Eltern der Klasse :</div>
                        <input type="checkbox" name="lmf_Freigabe_alle" value="1">
                        <span class="infoTitel" >&nbsp;?&nbsp;</span>
                    </div>
                    <div class="elements" id='lmf_div_freigabe_ev' title="Sie erhalten Rundmails, welche Elternvertreter über dieses System an Ihre Klassen versenden können.">
                        <div class="labelRechts">Elternvertreter :</div>
                        <input type="checkbox" name="lmf_Freigabe_ev" value="1">
                        <span class="infoTitel" >&nbsp;?&nbsp;</span>
                    </div>
                    <div class="elements" id='lmf_div_freigabe_info' title="Sie erhalten Rundmails, die der Elternsprecher der Schule versendet (Themen sind z.B. Schulveranstaltungen, Angebote zum Auslandsjahr, Berufs- oder Studieninformationsveranstaltungen u.ä.)">
                        <div class="labelRechts">allgemeine Informationen :</div>
                        <input type="checkbox" name="lmf_Freigabe_info" value="1">
                        <span class="infoTitel" >&nbsp;?&nbsp;</span>
                    </div>
                    <div class="elements" id='lmf_div_freigabe_lmf' title="Sie erhalten per eMail Informationen und Erinnerungen zum Lernmittelfonds. Auf diesem Weg informieren wir z.B. über Beginn und nahendes Ende des Anmeldezeitraums für das nächste Schuljahr)">
                        <div class="labelRechts">Lernmittelfonds :</div>
                        <input type="checkbox" name="lmf_Freigabe_lmf" value="1">
                        <span class="infoTitel" >&nbsp;?&nbsp;</span>
                    </div>
                </div>
            </div>
            <div class="lmfClear"></div>
            <div class="elements">Vorname, Familienname, Email und Passwort sind Pflichtfelder.<br>
                Teilnehmer am Lernmittelfonds bitten wir eine Festnetznummer bei Telefon anzugeben.<br>
                Ob Sie eine Anschrift angeben (für die anderen Eltern der Klasse oder die Macher vom Lernmittelfonds) überlassen wir Ihnen.
            </div>

            <div class="submit">
                <input type="hidden" name="formsubmitted" value="TRUE" />
                <input type="submit" class="lmf" value="Registrieren" />
            </div>
            </div>

        </fieldset>
    </form>
</div>