<form class="registration_form" onSubmit="elternInfo.starteSuche(event);">
    <div class="elements">
      Bitte geben sie einen Teil des Vor- oder Nachnamens ein: <br>
      <input type="text" id="lmf_SuchFeld"> 
      <input  class="lmfButtonPlanung" id="lmfSucheStarten" type="button" onclick="elternInfo.starteSuche(event)" value="jetzt suchen">
    </div>
</form>
<div id="lmfSelektierteFamilie"></div>
<div id="lmfSuchergebnis"></div>
