<form class="registration_form">
    <div class="elements">
      Bitte wählen Sie einen Text zum Bearbeiten aus: <br>
      <select name="lmf_textCode" size="1" id="lmf_textCode" onChange="elternInfo.textLaden()">
      <option>-----</option>
      <option title="Mail, wenn Anmeldungen für das nächste Jahr freigegebene werden">anmeldungNeu</option>
      <option title="Mail, zur Erinnerung, dass der Anmeldezeitraum bald abläuft">anmeldungErinnern</option>
      <option title="Mail, zur Erinnerung, dass noch keine Zahlung erfolgte">zahlungErinnern</option>
      <option title="Info-Mail, zur Bücherrückgabe">buecherRückgabeInfo</option>
      <option title="Mahnungs-Mail, zur Bücherrückgabe">buecherRückgabeMahn</option>
      
      </select>  <br><br>
      <textarea id="lmf_textInhalt" cols="50" rows="10" onChange="document.getElementById('lmfTextSpeichernButton').disabled = false"></textarea>
      <input  class="lmfButtonPlanung" id="lmfTextSpeichernButton" type="button" onclick="elternInfo.textSpeichern(event)" value="Speichern">
    </div>
</form>
